.flex-row{
    flex-direction: row;
}
.flex-col{
    flex-direction: column;
}
.flex{
    display: flex;
}
.align-middle{
    vertical-align: middle;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-start{
    justify-content: start;
}
.justify-around{
    justify-content: space-around;
}
.w-full{
    width: 100%;
}